* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.text-primary {
  color: #63ca58;
}

.container {
  margin: auto;
  width: 100%;
  padding: 25px 25px;
  overflow-x: auto;
}

.l-heading {
  margin: 25px;
}

.bg-lightgrey {
  background-color: #f1f3f1;
}

.bg-dark {
}

/* Navbar */

#navbar {
  color: white;
  background: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
}

#navbar h1 a {
  text-decoration: none;
  color: white;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar li a {
  color: white;
  margin: 0 0.8rem;
  padding: 10px;
}

#navbar li a:hover {
  background: #63ca58;
  color: #333;
  border-radius: 0.5rem;
}

/* Showcase */
#showcase {
  background: url("/img/showcase-bg.jpeg") no-repeat center center/cover;
  color: white;
  height: 100vh;
}

#showcase .showcase-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 4rem;
}

#showcase h1 {
  font-size: 4rem;
}

.btn {
  color: white;
  background-color: #63ca58;
  border-radius: 10px;
  display: inline-block;
  line-height: 2rem;
  padding: 0 2rem;
  font-size: 15px;
}

.btn:hover {
  background-color: white;
  color: #63ca58;
}

/* What section */
#what {
  min-height: 360px;
}

#what h2 {
  text-align: center;
  font-size: 35px;
  margin: 15px 0px;
}

.items {
  display: flex;
}

.what-features {
  text-align: center;
}

.what-features i {
  font-size: 35px;
  margin: 10px;
  background-color: #63ca58;
  padding: 25px;
  border-radius: 9rem;
}

/* Who section */
#who {
  display: flex;
  height: 500px;
  text-align: center;
  margin: auto;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url("/img/who-img.jpeg") no-repeat center center/cover;
}

#who h2 {
  margin: 25px 10px;
}

#who .who-text {
  margin: 25px 25px;
  line-height: 2rem;
}

.whotext p {
  margin: 25px 0;
}

#who .our-team {
  margin: 25px 25px;
  text-align: center;
}

.our-team ul {
  list-style: none;
}
