* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

#text-primary {
  color: #63ca58;
}

/* Navbar */

#navbar {
  color: white;
  background: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar li a {
  color: white;
  padding: 0.75rem;
  margin: 0 0.8rem;
}

#navbar li a:hover {
  background: #63ca58;
  color: #333;
  border-radius: 0.5rem;
}
