* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.text-primary {
  color: #63ca58;
}

.container {
  margin: auto;
  width: 100%;
  padding: 25px 25px;
  overflow-x: auto;
}

.bg-lightgrey {
  background-color: #f1f3f1;
}

.bg-dark {
  background-color: #333;
}

.bg-main {
  background-color: #63ca58;
}

/* Navbar */

#navbar {
  color: white;
  background: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}

#navbar h1 a {
  text-decoration: none;
  color: white;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar li a {
  color: white;
  margin: 0 0.8rem;
  padding: 10px;
}

#navbar li a:hover {
  background: #63ca58;
  color: #333;
  border-radius: 0.5rem;
}

/* Showcase */
#showcase {
  background: url("/img/showcase-bg.jpeg") no-repeat center center/cover;
  color: white;
  height: 100vh;
}

#showcase .showcase-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  line-height: 4rem;
}

#showcase h1 {
  font-size: 4rem;
}

.btn {
  color: white;
  background-color: #63ca58;
  border-radius: 10px;
  display: inline-block;
  line-height: 2rem;
  padding: 0 2rem;
  font-size: 15px;
}

.btn:hover {
  background-color: white;
  color: #63ca58;
}

/* What section */

#what h2 {
  text-align: center;
  font-size: 35px;
  margin: 25px 0px;
  margin-bottom: 25px;
}

.items {
  display: flex;
  margin: 75px 0px;
}

.what-features {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.what-features i {
  font-size: 35px;
  background-color: #63ca58;
  padding: 25px;
  border-radius: 9rem;
}

/* Who section */
#who {
  display: flex;
  text-align: center;
  margin: auto;
  color: white;
  overflow: auto;
}

#who div {
  flex: 1;
}

#who .who-img {
  background: url("/img/who-img.jpeg") no-repeat center center/cover;
}

#who h2 {
  margin: 25px 10px;
}

#who .who-text {
  padding: 25px 25px;
  line-height: 2rem;
}

.whotext p {
  margin: 25px 0;
}

#who .our-team {
  margin: 25px 25px;
  text-align: center;
}

.our-team ul {
  list-style: none;
}

/* Clients section */
#clients {
  text-align: center;
}

#clients h2 {
  font-size: 40px;
  padding: 25px 0px;
}

.client-logos {
  display: flex;
}

.client-logos div {
  flex: 1;
  font-size: 50px;
  padding: 25px 0px;
}

/* Contact us section */

#contact-us {
  display: flex;
  line-height: 1.5rem;
}

#contact-us div {
  flex: 1;
}

#contact-us .contact-section {
  text-align: left;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}

#contact-us .contact-section input {
  padding: 10px 10px;
  border: 1px solid #ddd;
}

#contact-us .contact-section label,
#contact-us .contact-section input,
#contact-us .contact-section button {
  min-width: 100%;
  margin: 5px;
}

#contact-us .contact-section button {
  background-color: #333;
  color: white;
  padding: 10px 0px;
  border-radius: 4px;
  cursor: pointer;
}

#contact-us .contact-section button:hover {
  background-color: white;
  color: #333;
}

/* Footer */
#index-footer {
  text-align: center;
  color: #fff;
  padding: 10px 10px;
}
